body{
  font-family: arial, helvetica, sans-serif;
  text-decoration: none;
	height:100%;
	margin: 0;
}

h1 > span {
  color: hotpink;
}

.header-bio{
  margin-top: 0%;
}

.content-bio {
  border-radius: 10px;
  background-color:whitesmoke;
  width: 800px;
  color: black;
  padding: 20px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#img-bio{
  width: 230px;
}

.sosmed-content{
  padding-top: 20px;
}

a {
  text-decoration: none;
  margin: 10px;
}